body {
  font-family: 'Arial', sans-serif;
  color: #eae5e5;
  background-image: url(view-futuristic-city-with-lots-vegetation-greenery.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: auto;
}

.card {
  border: none;
  background: rgba(55, 67, 56, 0.92);
  border-radius: 12px;
  overflow: hidden;
}

.card-header {
  background: #153416b4;
  color: rgba(244, 245, 244, 0.9);
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

#chat-box {
  height: 430px;
  overflow-y: auto;
  padding: 1rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.message {
  margin: 1.0rem 0;
  padding: 0.4rem;
  border-radius: 18px;  

}

.message.user {
  background-color: #15341696; 
  color: #ffffff;
  border: 2px solid #2769296e; 
  border-radius: 18px 18px 4px 18px; 
  padding: 0.5rem;
  max-width: 70%; 
  display: inline-block; 
  text-align: right; 
  margin-left: auto; 
}


.message.ai {
  background-color: #383838; 
  color: #ffffff; 
  display: block; 
  border-radius: 18px 18px 18px 4px; 
  padding: 0.5rem; 
  max-width: 70%; 
  border: 2px solid #555555; 
  text-align: left; 
  margin-left:auto; 
  
   }


#chat-box::-webkit-scrollbar {
  width: 8px;
}

#chat-box::-webkit-scrollbar-thumb {
  background: #c0c3c8;
  border-radius: 4px;
}

.input-group {
  display: flex;
  border-top: 1px solid #e5e7eb;
  padding: 1rem;
  background: #ffffff;
}

.form-control {
  flex: 1;
  border-radius: 30px;
  border: 1px solid rgba(8, 58, 17, 0.62);
  padding: 0.8rem;
  font-size: 1rem;
}

.btn {
  margin-left: 0.5rem;
  background: #092a09e6;
  border-radius: 30px;
  padding: 0.6rem 1.5rem;
  border: none;
  font-size: 1rem;
  color: #e5e7eb;
  cursor: pointer;
  
}

.btn:hover {
  background: #44b04d;
}
